.topbar {
  height: 85px;
  background-color: #012a4a;
  display: flex; /* Torna o container da barra um flex container */
  justify-content: center; /* Alinha os itens horizontalmente ao centro */
  align-items: center; /* Alinha os itens verticalmente ao centro */
}
.floatbar {
  margin-top: 0px;
  height: 85px;
  background-color: white;
  border-bottom: 3px solid #e4e5ea;
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
}

.dropfilter {
  display: flex;
  margin-left: auto; /* Isso empurra o elemento para a direita */
  margin-right: 200px; /* Mantém uma margem fixa à direita */
}

.logoContainer {
  margin-right: auto;
}

.logo {
  margin-left: 10px;
  width: 90px;
  height: auto;
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-right: 150px;
}
