.container {
  margin-top: 30px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 100px;
}

.evenrow {
  background-color: #f2f2f2; /* Cor para linhas pares */
}

.oddrow {
  background-color: #ffffff; /* Cor para linhas ímpares */
}
